.user_page .left_info {
    width: 20%;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 5vh;
    margin-top: 5vh;
    padding: 4vh;
    margin-bottom: 5vh;
}

.hat {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid gray;
}

.hat .page_avatar {
    margin: 0 auto;
    display: block;
    width: 100%;
    border-radius: 50%;
}

.basic_info .name, .login {
    font-size: 3vh;
}

.basic_info .name {
    font-weight: 500;
}

.name_login {
    margin-top: 2vh;
}

.basic_info .bio {
    word-wrap: break-word;
}

.user_page .back {
    width: 5vh;
    height: 5vh;
    background-color: #bfbdbd;
    color: white;
    text-align: center;
    line-height: 5vh;
    margin-top: 2vh;
    border-radius: 0 10px 10px 0;
    transition-duration: 0.5s;
}

.user_page .back:hover {
    width: 10vh;
    transition-duration: 0.5s;
}

a {
    text-decoration: none;
}