.square {
    width: 10vh;
    height: 10vh;
    background-color: gray;
}

.counter {
    font-size: 20px;
    height: 10vh;
    margin-top: 10px;
    background-color: gray;
}

.list {
    display: none;
}

.circle {
    background-color: aquamarine;
    border: 1px solid blueviolet;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.borders {
    height: 800px;
    width: 800px;
    border: 1px solid blueviolet;
    margin-top: 20px;
    position: relative;
}