.square {
    width: 10vh;
    height: 10vh;
    background-color: gray;
}

.counter {
    font-size: 20px;
    height: 10vh;
    margin-top: 10px;
    background-color: gray;
}

.list {
    display: none;
}